parameters:
    level: max
    paths:
        - src

    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            message: "#^Trying to invoke Closure\\|null but it might not be a callable\\.$#"
            count: 1
            path: src/Autoload.php

        -
            message: "#^Using self outside of class scope\\.$#"
            count: 1
            path: src/Autoload.php
